[Unit]
Description=Phantom Ink websocket server

[Service]
Type=simple
WorkingDirectory=/server
ExecStart=node /server/dist/main.js
Restart=always
RestartSec=5